
	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">
   		<div class="logo">
		<a href="/"></a>
		</div>
	   	<nav id="main-nav-wrap">
			<ul class="main-navigation sf-menu">
				<li class="current"><a href="/" title="">Home</a></li>
				<li><a href="contact" title="">Blog</a></li>									
				<li><a href="category" title="">Augmented Reality</a></li>
				<li><a href="single-standard" title="">Virtual Reality</a></li>
				<li><a href="style-guide" title="">Mixed Reality</a></li>
				<li><a href="contact" title="">About</a></li>	
			</ul>
			</nav> <!-- end main-nav-wrap -->

			<div class="search-wrap">
				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>
				<a href="#" id="close-search" class="close-btn">Close</a>
			</div> <!-- end search wrap -->	

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->	
   		
   	</div>     		
   	
   </header> <!-- end header -->

